# Module : tests/tests_results

5 fichier(s), 18 fonction(s).

## Vue d'ensemble

- **Fonctions principales** : test_add_layouts_filters, test_get_filter_min_max, test_table_results_sort_concordancer, test_widgets_filter, test_widgets_filter_measures, test_widgets_filter_p_val, test_wl_dialog_results_filter, test_wl_dialog_results_filter_collocation_extractor, test_wl_dialog_results_filter_dependency_parser, test_wl_dialog_results_filter_wordlist_generator, test_wl_dialog_results_sample, test_wl_dialog_results_search, test_wl_dialog_results_sort_concordancer, test_wl_worker_results_filter_collocation_extractor, test_wl_worker_results_filter_dependency_parser
- **Dépendances** : PyQt5, tests, wordless.wl_dialogs, wordless.wl_nlp, wordless.wl_results

## Détail des fichiers

### `test_results_filter.py`

Module Python. Nombre de lignes: 306. Elements detectés: def test_widgets_filter, def test_widgets_filter_measures, def test_widgets_filter_p_val

**Fonctions** : test_widgets_filter, test_widgets_filter_measures, test_widgets_filter_p_val, test_add_layouts_filters, test_get_filter_min_max, test_wl_dialog_results_filter, test_wl_dialog_results_filter_dependency_parser, test_wl_worker_results_filter_dependency_parser, test_wl_dialog_results_filter_wordlist_generator, test_wl_worker_results_filter_wordlist_generator, test_wl_dialog_results_filter_collocation_extractor, test_wl_worker_results_filter_collocation_extractor
**Dépendances** : PyQt5, tests, wordless.wl_dialogs, wordless.wl_results

### `test_results_sample.py`

Module Python. Nombre de lignes: 39. Elements detectés: def test_wl_dialog_results_sample

**Fonctions** : test_wl_dialog_results_sample
**Dépendances** : tests, wordless.wl_results

### `test_results_search.py`

Module Python. Nombre de lignes: 89. Elements detectés: def test_wl_dialog_results_search, def test_wl_worker_results_search

**Fonctions** : test_wl_dialog_results_search, test_wl_worker_results_search
**Dépendances** : tests, wordless.wl_dialogs, wordless.wl_nlp, wordless.wl_results

### `test_results_sort.py`

Module Python. Nombre de lignes: 145. Elements detectés: def test_wl_dialog_results_sort_concordancer, def test_table_results_sort_concordancer

**Fonctions** : test_wl_dialog_results_sort_concordancer, test_table_results_sort_concordancer, test_wl_worker_results_sort_concordancer
**Dépendances** : PyQt5, tests, wordless.wl_dialogs, wordless.wl_results
